@import "./close.less";
@import "./currency-select.less";

.rate-wrapper {
    margin-bottom: 12px; 
}

.rate {
    padding-top: 100%;
    position: relative;
    border-radius: 4px;

    &.card {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }

    .body {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        .cross {
            font-size: 400%;
            color: darkgray;
        }
    }

    &.new {
        border: 1px dashed darkgray;
        cursor: pointer;

        &:hover {
            background-color: #eee;
        }
    }
}
